body {
  background-color: #212121;
  color: #FFFFFF;
  margin: 0;
}

mark {
  background-color: #1976D2;
  color: white;
}

hr {
  color: white;
  border-style: solid;
}

.navbar {
  padding: 2rem 5rem;
}

#navbarNav {
  position: absolute;
  right: 0;
  padding-right: 5rem;
}

.nav-link {
  color: #FFFFFF;
}

.nav-link:hover, svg:hover {
  color: #b9b4b4;
}

.hero-image {
  object-fit: cover;
  height: 300px;
  width: 300px;
  animation: morph 8s ease-in-out infinite
}

.badge {
  background-color: #1976D2;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

#toTopButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem; 
  border-radius: 50%;
  background-color: #1976D2;
  width: 3rem;
  height: 3rem;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}